<div>
    <table>
        <thead align=" center">
            <tr>
                <th *ngFor="let item of headers">
                    {{item}}
                </th>
                <th> Action </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of data | paginate: { itemsPerPage: this.numberOfColumns, currentPage: p } ">
                <td *ngFor="let key of item | keys ">
                    {{item[key]}}
                </td>
                <td><button class="material-icons" style="color:blue" (click)="submitRow(item)">Submit</button></td>
            </tr>
        </tbody>
        <tfoot>
            <td> Number of results : <input (keyup)="onKey($event)" /></td>
        </tfoot>
    </table>
</div>