table {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #ddd;
    display: block;
    overflow-x: auto;
    overflow-y: auto;
    white-space: nowrap;
}

th {
    background-color: #3E88DE;
}

tr:hover {
    background-color: #f5f5f5;
}

th,
td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
}

tbody {
    width: 100%;
    overflow: auto;
}

tfoot {
    right: 0px;
    position: absolute;
}

tfoot td {
    border: none
}