<div class='test'>
  <div style='float: left;'>
    <button (click)="navigate('pagination')">Go to Pagination Component</button>
  </div>
  <div style='float: right;'>
    <button (click)="navigate('no-pagination')">Go to No Pagination Component</button>
  </div>
</div>

<router-outlet></router-outlet>